@model IEnumerable<Bansach.Models.CHITIETDATHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dongia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thanhtien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DONDATHANG.Tongtien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SACH.Tuasach)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Soluong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dongia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thanhtien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONDATHANG.Tongtien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SACH.Tuasach)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id=item.Idsach, id1 =item.Idddh}) |
            @Html.ActionLink("Details", "Details", new {id=item.Idsach, id1 = item.Idddh }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Idsach, id1 = item.Idddh })
        </td>
    </tr>
}

</table>
