@model IEnumerable<Bansach.Models.CartModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<head>
    <title>Footwear - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/order/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/order/css/icomoon.css">
    <!-- Ion Icon Fonts-->
    <link rel="stylesheet" href="~/order/css/ionicons.min.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/order/css/bootstrap.min.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/order/css/magnific-popup.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="~/order/css/flexslider.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/order/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/order/css/owl.theme.default.min.css">

    <!-- Date Picker -->
    <link rel="stylesheet" href="~/order/css/bootstrap-datepicker.css">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="~/order/fonts/flaticon/font/flaticon.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/order/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
                $(function () {
                    $("#removecart").click(function () {
                        var model = {};
                        //lấy id sản phẩm
                        model.Id = $("#sachid").val();
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("Remove", "Cart")',
                            data:  JSON.stringify(model) ,
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            success: function () {
                                $('#CartCount').text(@Session["count"] - 1);
                                $("#sach-" + model.Id).remove();
                            },
                            error: function () {
                                alert("Lỗi trong khi thêm vào giỏ hàng!");
                            }
                        });
                        return false;
                    });
                });
    </script>
</head>


<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="index.html" style="color: #77b748;">Trang chủ</a></span> / <span>Giỏ hàng</span></p>
            </div>
        </div>
    </div>
</div>

<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-md-10 offset-md-1">
                <div class="process-wrap">
                    <div class="process text-center active">
                        <p><span style="color: #77b748;">01</span></p>
                        <h3>Giỏ hàng</h3>
                    </div>
                    <div class="process text-center">
                        <p><span>02</span></p>
                        <h3>Thanh toán</h3>
                    </div>
                    <div class="process text-center">
                        <p><span>03</span></p>
                        <h3>Hoàn thành</h3>
                    </div>
                </div>
            </div>
        </div>
        @if (Model != null)
        {
            <div class="row row-pb-lg">
                <div class="col-md-12">
                    <div class="product-name d-flex" style="background-color: #9bd174;">
                        <div class="one-eight text-center">
                            <span>Hình ảnh</span>
                        </div>
                        <div class="one-forth text-left px-4">
                            <span style="margin-left: 100px;">Tên sách</span>
                        </div>
                        <div class="one-eight text-center">
                            <span>Giá</span>
                        </div>
                        <div class="one-eight text-center">
                            <span>Số lượng</span>
                        </div>
                        <div class="one-eight text-center">
                            <span>Tổng cộng</span>
                        </div>
                        <div class="one-eight text-center px-4">
                            <span>Xóa</span>
                        </div>
                    </div>
                    @foreach (var item in Model)
                    {
                        <div class="product-cart d-flex" id="sach-@item.sach.Idsach">
                            <input type="hidden" value="@item.sach.Idsach" id="sachid" />
                            <div class="one-eight text-center">
                                <div class="display-tc">
                                    <img src="~/Content/images/sach/@item.sach.Hinhanh" class="img-fluid" width="35" alt="product">
                                </div>
                            </div>
                            <div class="one-forth">
                                <div class="product-img" style="background-image: url(~/order/images/item-8.jpg);">
                                </div>
                                <div class="display-tc">
                                    <h3>@item.sach.Tuasach</h3>
                                </div>
                            </div>
                            <div class="one-eight text-center">
                                <div class="display-tc">
                                    <span class="price">@item.sach.Giaban</span>
                                </div>
                            </div>
                            <div class="one-eight text-center">
                                <div class="display-tc">
                                    <input type="number" class="form-control cart-qty" name="cartQty1" id="cartQty1" value="@item.Quantity">
                                </div>
                            </div>
                            <div class="one-eight text-center">
                                <div class="display-tc">
                                    <span class="price">$120.00</span>
                                </div>
                            </div>
                            <div class="one-eight text-center">
                                <div class="display-tc">
                                    <a id="removecart" href="#" class="closed"></a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="row row-pb-lg">
                <div class="col-md-12">
                    <div class="total-wrap">
                        <div class="row">
                            <div class="col-sm-8">
                                <form action="#">
                                    <div class="row form-group">
                                        <div class="col-sm-9">
                                            <input type="text" name="quantity" class="form-control input-number" placeholder="Nhập mã giảm giá của bạn">
                                        </div>
                                        <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);" style="margin-top:1px;">
                                            @*<i class="fa fa-shopping-basket"></i>*@
                                            <em>Áp dụng</em>
                                        </a>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-4 text-center">
                                <div class="total">
                                    <div class="sub">
                                        <p><span>Tạm tính:</span> <span>$200.00</span></p>
                                        <p><span>Phí ship:</span> <span>$0.00</span></p>
                                        <p><span>Giảm giá:</span> <span>$45.00</span></p>
                                    </div>
                                    <div class="grand-total">
                                        <p><span><strong>Tổng cộng:</strong></span> <span>$450.00</span></p>
                                    </div>
                                </div>
                                <a class="tg-btn tg-btnstyletwo" href="@Url.Action("Index","payment")" style="margin-top: 15px; margin-left: 200px;">
                                    @*<i class="fa fa-shopping-basket"></i>*@
                                    <em>Thanh toán</em>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <h1 style="display:flex; justify-content: center; margin-bottom:25px;">Không có sản phẩm trong giỏ hàng!</h1>
        }
        <hr />
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h1>SÁCH LIÊN QUAN</h1>
            </div>
        </div>

        <div class="row">
            @Html.Action("sachlienquan", "sachpartial")
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="~/order/js/jquery.min.js"></script>
<!-- popper -->
<script src="~/order/js/popper.min.js"></script>
<!-- bootstrap 4.1 -->
<script src="~/order/js/bootstrap.min.js"></script>
<!-- jQuery easing -->
<script src="~/order/js/jquery.easing.1.3.js"></script>
<!-- Waypoints -->
<script src="~/order/js/jquery.waypoints.min.js"></script>
<!-- Flexslider -->
<script src="~/order/js/jquery.flexslider-min.js"></script>
<!-- Owl carousel -->
<script src="~/order/js/owl.carousel.min.js"></script>
<!-- Magnific Popup -->
<script src="~/order/js/jquery.magnific-popup.min.js"></script>
<script src="~/order/js/magnific-popup-options.js"></script>
<!-- Date Picker -->
<script src="~/order/js/bootstrap-datepicker.js"></script>
<!-- Stellar Parallax -->
<script src="~/order/js/jquery.stellar.min.js"></script>
<!-- Main -->
<script src="~/order/js/main.js"></script>
