@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<Bansach.Models.USER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}
<div class="header-advance-area">
    <div class="breadcome-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="icon nalika-home"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>QUẢN LÝ LOẠI SÁCH</h2>
                                        <p>Welcome to book library <span class="bread-ntd">admin template</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="breadcomb-report">
                                    <button data-toggle="tooltip" data-placement="left" title="download report" class="btn"><i class="icon nalika-download"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>DANH SÁCH LOẠI SÁCH</h4>
                    <div class="add-product">
                        <a title="Thêm" class="fa fa-plus" aria-hidden="true">
                            <p> @Html.ActionLink("Thêm", "Create") </p>
                        </a>
                    </div>

                    @using (Html.BeginForm("Index", "USERs", FormMethod.Get))
                    {
                        <p>
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                            <input type="submit" value="Tìm kiếm" class="btn btn-ctl-bt waves-effect " style="background-color: #152036; height:28px; color:#ffffff" />
                        </p>
                    }

                    <table>
                        <tr>
                            <th>Mật khẩu</th>
                            <th>Email</th>
                            <th>Họ tên</th>
                            <th>Giới tính</th>
                            <th>Ngày sinh</th>
                            <th>Tài khoản</th>
                            <th>Địa chỉ</th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model)
                        {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Matkhau)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hoten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gioitinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ngaysinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Taikhoan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Diachi)
                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.Iduser }) |
                            @Html.ActionLink("Xem", "Details", new { id = item.Iduser }) |
                            @Html.ActionLink("Xóa", "Delete", new { id = item.Iduser })
                        </td>

                    </tr>
                        }
                    </table>
                    <div class="custom-pagination">
                        <p style="color:#ffffff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>

                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, CurrenFilter = ViewBag.CurrenFilter }))
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

