@using Bansach.Models;
@model List<SACH>

@foreach (var item in Model.Take(5))
{
    <div class="item">
        <div class="tg-postbook">
            <figure class="tg-featureimg">
                <div class="tg-bookimg">
                    <div class="tg-frontcover"><img style="height:300px;" src="~/Content/images/sach/@item.Hinhanh" alt="image description"></div>
                </div>
                <div class="tg-hovercontent">
                    <div class="tg-description">
                        <p>@item.Motangan</p>
                    </div>
                    <strong class="tg-bookpage">Book Pages: @item.Sotrang</strong>
                    <strong class="tg-bookcategory">Category: @item.DANHMUC.Tendanhmuc</strong>
                    <strong class="tg-bookprice">Price: @item.Giaban</strong>
                    <div class="tg-ratingbox"><span class="tg-stars"><span></span></span></div>
                </div>
            </figure>
            <div class="tg-postbookcontent">
                <div class="tg-booktitle">
                    <h3><a href="javascript:void(0);">@item.Tuasach</a></h3>
                </div>
                <span class="tg-bookwriter">By: <a href="javascript:void(0);">@item.NHAXUATBAN.Ten</a></span>
                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                    <i class="fa fa-shopping-basket"></i>
                    <em>Add To Basket</em>
                </a>
            </div>
        </div>
    </div>
}
